{% block content %}
  <h2>{{course.subject+course.catalog_number}}</h2>
  <h3>{{course.title}}</h3>

  <br><br>

  <p> {{course.description}} </p>

  <table>
  	<tr>
  		<th>Section</th>
  		<th>Class</th>
  		<th>Campus</th>
  		<th>Enrolled</th>
  		<th>Location</th>
  		<th>Instructors</th>
  	</tr>
    {% for s in course.classes %}
        <tr>
          <td>{{s.section}}</td>
          <td>{{s.class_id}}</td> 
          <td>{{s.campus}}</td>
          <td>{{s.enroll_tot}}</td>
          <td>{{s.campus}}</td>
          <td>{{s.campus}}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}